<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <title>draw2meet</title>
    <link rel="icon" type="image/png" href="https://avatars3.githubusercontent.com/u/49691193?s=200&v=4">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
            integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
            crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--Draw buttons-->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        #modalButtonCheck {
            position: absolute;
            bottom: 40px;
            right: 10px;

        }

        .alert {
            position: absolute;
            bottom: 40px;
            left: 10px;

        }

        .btn-circle.btn-xl {
            width: 50px;
            height: 50px;

            border-radius: 25px;
            font-size: 24px;
            line-height: 1.33;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }

        .mapbox-gl-draw_combine, .mapbox-gl-draw_uncombine {
            display: none !important;
        }

        .error {
            color: red;
        }

        #map {
            position: absolute;
            left: 25%;
            top: 0;
            bottom: 0;
            width: 75%;
        }

        .map-overlay {
            position: absolute;
            width: 25%;
            top: 0;
            bottom: 0;
            left: 0;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            background-color: #fff;
            max-height: 100%;
            overflow: hidden;
        }

        .map-overlay fieldset {
            display: none;
            background: #ddd;
            border: none;
            padding: 10px;
            margin: 0;
        }

        .map-overlay input {
            display: block;
            border: none;
            width: 100%;
            border-radius: 3px;
            padding: 10px;
            margin: 0;
        }

        .map-overlay .listing {
            overflow: auto;
            max-height: 100%;
        }

        .map-overlay .listing > * {
            display: block;
            padding: 5px 10px;
            margin: 0;
        }

        .map-overlay .listing a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: #404;
            text-decoration: none;
        }

        .map-overlay .listing a:last-child {
            border: none;
        }

        .map-overlay .listing a:hover {
            background: #f0f0f0;
        }
    </style>
</head>

<body>

<div data-tap-disabled="true">
    <div id='map'></div>
</div>

<div class='map-overlay'>
    <fieldset>
        <input id='feature-filter' type='text' placeholder='Filter results by title'/>
    </fieldset>
    <div id='feature-listing' class='listing' style="max-height: 94%;"></div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 center class="modal-title" id="exampleModalCenterTitle">New card</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container" style="width:100%!important">
                    <form method="post" action="/card/" id="saveForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input id="title" class="form-control" type="text" required name="title" maxlength="200">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" class="form-control" required type="text" name="description"
                                   maxlength="500">
                        </div>

                        <div class="form-group">
                            <label for="hour">Start time</label>
                            <input id="hour" class="form-control" required type="text" placeholder="17:00" name="hour">
                        </div>

                        <div class="form-group">
                            <label for="duration">Duration (minutes)</label>
                            <input id="duration" class="form-control" required type="number" name="duration" min="1">
                        </div>

                        <div class="form-group">
                            <label for="date">Date</label>
                            <input class="form-control" id="date" type="date" required name="date">
                        </div>

                        <input id="geojson" class="form-control" type="hidden" name="geojson">

                        <p class="error"></p>


                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="addOtherShape" data-dismiss="modal">Add other
                    shape
                </button>
                <button type="button" id="cancel" class="btn btn-danger">Cancel</button>
                <button type="button" id="save" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    You can't have 3 shapes at the same time
</div>

<button type="button" id="modalButtonCheck" class="btn btn-info btn-circle btn-xl"><i class="fa fa-check"></i></button>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibmVlZGdvIiwiYSI6ImNqdWswZmJpZzFtMTE0YXFqdGh4YnZoMmMifQ.GZbMmC37CMX-52pi9AK_8w';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/needgo/cjupgkimp20qw1fs0ettjvjht',
        center: [-5.986946905298026, 37.358331180668316], // starting position [lng, lat]
        zoom: 15 // starting zoom
    });

    map.addControl(new mapboxgl.NavigationControl());

    map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
        },
        trackUserLocation: true
    }));

    var points = [];

    // Create a popup, but don't add it to the map yet.
    var popup = new mapboxgl.Popup({
        closeButton: false
    });

    var filterEl = document.getElementById('feature-filter');
    var listingEl = document.getElementById('feature-listing');

    function renderListings(features) {
        // Clear any existing listings
        listingEl.innerHTML = '';
        if (features.length) {
            features.forEach(function (feature) {
                var prop = feature.properties;
                var item = document.createElement('a');
                item.target = '_blank';
                item.textContent = prop.title;
                item.addEventListener('mouseover', function () {
                    // Highlight corresponding feature on the map
                    popup.setLngLat([String(feature.geometry.coordinates).split(",")[0], String(feature.geometry.coordinates).split(",")[1]])
                        .setHTML('<h3 style="text-align:center">' + feature.properties.title + '</h3><p><b>Description: </b>' + feature.properties.description + '</p>' +
                            '<p><b>Date: </b>' + feature.properties.date + '</p><p><b>Hour: </b>' + feature.properties.hour + '</p><p><b>Duration: </b>' + feature.properties.duration + '</p>')
                        .addTo(map);
                });
                listingEl.appendChild(item);
            });

            // Show the filter input
            filterEl.parentNode.style.display = 'block';
        } else {
            var empty = document.createElement('p');
            empty.textContent = 'Drag the map to populate results';
            listingEl.appendChild(empty);

            // Hide the filter input
            filterEl.parentNode.style.display = 'none';

            // remove features filter
            map.setFilter('app point', ['has', 'title']);
        }
    }

    function normalize(string) {
        return string.trim().toLowerCase();
    }

    map.on('load', function () {

        map.on('moveend', function () {
            var layersArray = ['app point', 'app poly', 'app line', 'point', 'polygon', 'line']
            var layersCopy = []
            for(layerElement in layersArray){
                if(typeof map.getLayer(layersArray[layerElement]) != "undefined"){
                    layersCopy.push(layersArray[layerElement]);
                }
            }

            var features = map.queryRenderedFeatures({layers: layersCopy});

            if (features) {

                renderListings(features);

                filterEl.value = '';

                points = features;
            }
        });

        /*map.on('mousemove', 'app point', function (e) {
            map.getCanvas().style.cursor = 'pointer';

            // Populate the popup and set its coordinates based on the feature.
            var feature = e.features[0];
            popup.setLngLat([String(feature.geometry.coordinates).split(",")[0], String(feature.geometry.coordinates).split(",")[1]])
                .setHTML('<h3 style="text-align:center">' + feature.properties.title + '</h3><p><b>Description: </b>' + feature.properties.description + '</p>' +
                    '<p><b>Date: </b>' + feature.properties.date + '</p><p><b>Hour: </b>' + feature.properties.hour + '</p><p><b>Duration: </b>' + feature.properties.duration + '</p>')
                .addTo(map);
        });

        map.on('mouseleave', 'app point', function () {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });*/

        filterEl.addEventListener('keyup', function (e) {
            var value = normalize(e.target.value);

            // Filter visible features that don't match the input value.
            var filtered = points.filter(function (feature) {
                var title = normalize(feature.properties.title);
                {#var description = normalize(feature.properties.description);#}
                return title.indexOf(value) > -1;
            });

            // Populate the sidebar with filtered results
            renderListings(filtered);

            // Set the filter to populate features into the layer.
            map.setFilter('app point', ['match', ['get', 'title'], filtered.map(function (feature) {
                return feature.properties.title;
            }), true, false]);
        });

        renderListings([]);
    });

    // Others

    //Draw buttons
    var Draw = new MapboxDraw({
        controls: {
            trash: false

        }
    });

    var status = 0;

    $('#modalButtonCheck').hide();
    $('.alert').hide();
    map.addControl(Draw, 'top-left');
    map.on('load', function () {
        map.on('draw.create', updateArea);

        function updateArea(e) {
            console.log(Draw.getAll())

            //Open the modal
            $('#exampleModalCenter').modal('show');
            $("#addOtherShape").show();
            $('#modalButtonCheck').show();
            status += 1;
            //If is the maximun, change the status
            if (Draw.getAll().features.length == 2) {
                $("#addOtherShape").hide();

                //If there is two shapes, warning about it
            } else if (Draw.getAll().features.length == 3) {
                status -= 1;
                $("#addOtherShape").hide();
                Draw.trash()
                $('.alert').show();
            }
        }
    });


    function reset() {
        $('.alert').hide();
        status = 0
        $('#exampleModalCenter').modal('hide');
        $('#modalButtonCheck').hide();
        $('#saveForm').trigger("reset");
        Draw.deleteAll()
    };

    $("#cancel").click(reset)

    $("#modalButtonCheck").click(function () {
        $('.alert').hide();
        $('#exampleModalCenter').modal('show');
        if (Draw.getAll().features.length == 2) {
            $("#addOtherShape").hide();
        }
    });

    //---- END draw

    //Counter
    var pointMapId = 0
    var lineMapId = 0
    var lineData = []
    var pointData = []
    var polygonData = []
    var polygonMapId = 0

    //Send card
    $("#save").click(function () {
        $(".error").html("")
        $("#geojson").val(JSON.stringify(Draw.getAll()))
        $.post('/card/', $('#saveForm').serialize(), function (data, status) {
            console.log(status);

            if (status == "success") {


                let aux= Draw.getAll()['features']
                for (var i in aux) {
                    aux[i].properties = data
                    if (aux[i].geometry.type == "LineString"){
                        lineData.push(aux[i]);

                    }else if(aux[i].geometry.type == "Point"){
                        pointData.push(aux[i]);

                    }else if(aux[i].geometry.type == "Polygon"){
                        polygonData.push(aux[i]);
                    }

                }

                //Layer for lines
                if (lineMapId == 0) {
                    map.addSource('line', {type: 'geojson', data: { type: "FeatureCollection", features:lineData}});
                    map.addLayer({
                        "id": "line",
                        "type": "line",
                        "source": "line",
                        "paint": {
                            "line-color": "#088",
                            "line-opacity": 0.75,
                            "line-width": 5
                        }
                    });

                    map.on('mouseenter', 'line', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    map.on('mouseleave', 'line', function () {
                        map.getCanvas().style.cursor = '';
                    });

                    lineMapId += 1
                }else{
                    map.getSource('line').setData({ type: "FeatureCollection", features:lineData})
                }



                //Layer for points
                if (pointMapId == 0) {
                    map.addSource('point', {type: 'geojson', data: { type: "FeatureCollection", features:pointData}});
                    map.addLayer({
                        "id": "point",
                        "type": "symbol",
                        "source": "point",
                        "layout": {
                            "icon-image": "marker-15",
                            "icon-size": 2
                        }
                    });

                    map.on('mouseenter', 'point', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                     map.on('mouseleave', 'point', function () {
                        map.getCanvas().style.cursor = '';
                    });

                    pointMapId += 1
                }else{
                    map.getSource('point').setData({ type: "FeatureCollection", features: pointData})
                }

                //Layer for polygon
                if (polygonMapId == 0) {
                    map.addSource('polygon', {type: 'geojson', data: { type: "FeatureCollection", features:polygonData}});
                    map.addLayer({
                        "id": "polygon",
                        "type": "fill",
                        "source": "polygon",
                        'paint': {
                            'fill-color': '#088',
                            'fill-opacity': 0.8
                        }
                    });

                    map.on('mouseenter', 'polygon', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    map.on('mouseleave', 'polygon', function () {
                        map.getCanvas().style.cursor = '';
                    });

                    polygonMapId += 1
                }else{
                    map.getSource('polygon').setData({ type: "FeatureCollection", features: polygonData})
                }
                reset()
            }

        }).fail(function (jqxhr, settings, ex) {
            $(".error").html(jqxhr.responseText.slice(1, -1))
        });

    });

    //----- END send card

    // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
    map.on('mouseenter', 'app point', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    map.on('mouseenter', 'app poly', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    map.on('mouseenter', 'app line', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'app point', function () {
        map.getCanvas().style.cursor = '';
    });

    map.on('mouseleave', 'app poly', function () {
        map.getCanvas().style.cursor = '';
    });

    map.on('mouseleave', 'app line', function () {
        map.getCanvas().style.cursor = '';
    });

    map.on('click', function (e) {

        var layersArray = ['app point', 'app poly', 'app line', 'point', 'polygon', 'line']
        var layersCopy = []
        for(layerElement in layersArray){
            if(typeof map.getLayer(layersArray[layerElement]) != "undefined"){
                layersCopy.push(layersArray[layerElement]);
            }
        }

        var features = map.queryRenderedFeatures(e.point, {
            layers: layersCopy,
        });

        if (!features.length) {
            return;
        }

        var feature = features[0];

        var popup = new mapboxgl.Popup({offset: [0, 0]})
            .setHTML('<h3 style="text-align:center">' + feature.properties.title + '</h3><p><b>Description: </b>' + feature.properties.description + '</p>' +
                '<p><b>Date: </b>' + feature.properties.date + '</p><p><b>Hour: </b>' + feature.properties.hour + '</p><p><b>Duration: </b>' + feature.properties.duration + '</p>')
            .setLngLat([String(feature.geometry.coordinates).split(",")[0], String(feature.geometry.coordinates).split(",")[1]])
            .addTo(map);
    });

</script>

</body>
</html>